#d3-scatter h3 {
  font-family: tahoma;
  font-size: 1.5em;
  color:black;
}

.axis {
  font-family: tahoma;
  font-size: 20px;
  text-transform:capitalize;
  fill:black;
}

.yAxis{
  font-family: tahoma;
  font-size: 16px;
  color:black;
}

.xAxis {
  font-family: tahoma;
  font-size: 16px;
  color:black;
}

.legend {
  font-family: tahoma;
  font-size: 14px;
  font-weight: bold;
}

.bubbles {
  fill: steelblue;
  stroke: black;
  stroke-width: 1px;
  opacity:0.5;
}

.highlight {
  fill: red;
  stroke: black;
  stroke-width: 1px;
  opacity:1;
}

.tooltip {
  width: 10%;
  margin: auto;
  color:black;
  background: white;
  position: absolute;
  right: 80px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, san-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.scatterLabel {
  padding-left: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  padding-right: 15px;
}

.scatterDatum {
  padding-right: 10px;
}

.xDefinition {
  /* width: 90%; */
  margin: auto;
  color:black;
  font: 14px/16px Arial, Helvetica, sans-serif;
  /* background: rgba(255,255,255,0.8); */
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  border-radius: 5px;
  padding-top:2px;
}

