#d3-scatter h3 {
  font-family: tahoma;
  font-size: 1.5em;
  color:black;
}

.axis {
  font-family: tahoma;
  font-size: 20px;
  text-transform:capitalize;
  fill:black;
}

.yAxis{
  font-family: tahoma;
  font-size: 16px;
  color:black;
}

.xAxis {
  font-family: tahoma;
  font-size: 16px;
  color:black;
}