* {
  box-sizing: border-box;
}

body {
  overflow-wrap: break-word;
}

.my-container {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;

}

.col-md-5 {
  border-right: 2px solid black;
}

.body {
  height: 600px;
}

#menu {
  margin-top: 20px;
  border: 2px solid black;
  border-bottom: 0px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  background-color: grey;
  font-weight: bold;
}

#gauge-chart-state,
#gauge-chart-county {
  border: 2px solid black;
  height: 150px !important;
  padding-top: 20px;
  width:100%;
  height:100%;
  background-color: purple;
  text-align:center;
}

#gauge-chart-county {
  border-top: 0px solid black;
  overflow-wrap: break-word !important;
}

#gauge-chart-state h1,
#gauge-chart-county h1 {
  font-size: 24px;
  color: white;
}

#d3-scatter {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  padding-top: 10px;
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: orange;
  color: white;
}
