* {
  box-sizing: border-box;
}

html,body { 
  height:100%; 
  font-size: 16px;
  /* background-color: grey; */
}
/* body {
  overflow-wrap: break-word;
} */

h1 {
  margin: 10px 0;
  font-size: 1.5em;
  font-family: Tahoma;
}

.container {
  display: flex;
}

#menu {
  /* margin-top: 20px; */
  display: block;
  width:100%;
  height: 100px;
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  background-color: grey;
  font-weight: bold;
}

#map { 
  display: inline-flex;
  height: 900px;
  width: 50%;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.col {
  flex-flow: column wrap;
  width: 50%;
}

.small {
  font-size: 16px;
  font-weight: bold;
}

#d3-scatter {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-top: 10px;
  height: 400px;
  /* width: 100%; */
  text-align: center;
  background-color:lightgrey;
  color: white;
}



