{% block d3_scatter %}

<div id="d3-scatter">
  <h3 id="scatter-title-height"> D3 scatter plot</h3>
  <!-- <div id="scatter-plot"> -->
    
  <!-- </div> -->
  <!-- <p>Death Rate(y)</p>
  <p>vs</p>
  <ul>
    <li>Uninsured pop%</li>
    <li>Poor health days</li>
    <li>Median income</li>
    <li>(linear regression)</li> -->
  <!-- </ul> -->
</div>

<!-- <script src="../../static/js/data/fl_data.csv"></script> -->
<script src="static/js/scatter/scatter.js"></script>
<!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
<!-- <script src="../../../project-2/static/js/scatter/scatter.js"></script> -->

<!-- <script src="../../static/js/scatter/scatter.js"></script> -->


{% endblock d3_scatter %}