{% block d3_scatter %}

<link rel="stylesheet" href="static/gauge/gauge.css">
<hr>
<!-- Set Default Gauge Title for Initial Page Load -->
<h1 id="gauge-title">Alachua Vulnerability Score</h1>
<div class="container">
  <div id="gauge-plot"></div>
</div>
<hr>
<div id="api">
  <h1>Relevant Links and API endpoints</h1>
  <p>project repository = <a href="https://github.com/kpessa/project-2">"https://github.com/kpessa/project-2"</a></p>
  <p>country = <a href="api/v1.0/USA_data">"api/v1.0/USA_data"</a></p>
  <p>florida = <a href="api/v1.0/Florida_data">"api/v1.0/Florida_data"</a></p>
  <p>county in florida = <a href="api/v1.0/Florida_data/Orange">"api/v1.0/Florida_data/{county}"</a></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="static/gauge/gauge.js"></script>

{% endblock d3_scatter %}