{% block map %}
<link rel="stylesheet" href="static/map/map.css">

<div id="map">
  <!-- <h1>FL MAP (67 counties)</h1>
  <ul>
    <li>Layers of median income</li>
    <li>Index Score</li>
    <li>Uninsured pop %</li>
    <li>Poor health days</li>
    <li>Median Income</li>
  </ul> -->
</div>

<!-- <script src="static/map/functions.js"></script>
<script src="static/map/geojsonFunctions.js"></script>
<script src="static/map/overlayMaps.js"></script>
<script src="static/map/map.js"></script> -->

{% endblock map %}