{% block d3_scatter %}

<link rel="stylesheet" href="static/menu/menu.css">

<div id="menu">
  <table>
    <tr>  
      <td>
        <table class="logo">
          <tr>
            <td><img src="static/images/covid19.png" alt=""></td>
            <td class="logo-title"><h1>COVID Dashboard</h1></td>
          </tr>
        </table>
      </td>
      <td class="dropdowns-td">
        <div class="dropdowns">
          <label for="state-dropdown">State</label>
          <select id="state-dropdown" name="state-dropdown"></select>
          <label for="county-dropdown">County</label>
          <select id="county-dropdown" name="county-dropdown"></select>
        </div>
      </td>
      <td class="dropdowns-td">
        <div class="dropdowns">
          <label for="yaxis">Y-Axis</label>
          <select id="yaxis" name="yaxis">
            <option value="death rate">Death Rate</option>
            <option value="deaths">Deaths</option>
            <option value="case rate">Case Rate</option>
            <option value="cases">Cases</option>
          </select>
          <label for="xaxis">X-Axis</label>
          <select id="xaxis" name="xaxis">
            <option value="population">Population</option>
            <option value="ccvi score">Vulnerability Score</option>
            <option value="uninsured percent">Uninsured Percent</option>
            <option value="fair or poor health percent">Fair or Poor Health %</option>
            <option value="median income (2018)">Median Income (2018)</option>
          </select>
        </div>
      </td>
    </tr>
  </table>
</div>
<script src="static/js/anime.min.js"></script>
<script src="static/menu/states.js"></script>
<script src="static/menu/menu.js"></script>

{% endblock d3_scatter %}