<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Dashboard</title>

    {% block head %} {% include "head.html" %} {% endblock head %}
  </head>
  <body>
    {% block menu %} 
    {% include "modules/menu.html" %} 
    {% endblock menu %}

    <div class="container">
      <div id="map">
        <!-- <h1>FL MAP (67 counties)</h1>
        <ul>
          <li>Layers of median income</li>
          <li>Index Score</li>
          <li>Uninsured pop %</li>
          <li>Poor health days</li>
          <li>Median Income</li>
        </ul> -->
      </div>

      <script src="static/map/functions.js"></script>
      <script src="static/map/map.js"></script>

      <div class="col">
        {% block d3_scatter %} 
        {% include "modules/d3-scatter.html" %} 
        {% endblock d3_scatter %}

        <div id="gauge-chart-state">
          <h1>Guage chart FL vs score</h1>
        </div>

        <div id="gauge-chart-county">
          <h1>Guage chart County</h1>
          <h1>vs score</h1>
        </div>
      </div>
    </div>
    {% block body_scripts %} 
    {% include "body-scripts.html" %} 
    {% endblock body_scripts %}
  </body>
</html>
