<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COVID-19 Dashboard</title>

    {% block head %} {% include "head.html" %} {% endblock head %}
  </head>
  <body>
    {% block menu %} 
    {% include "modules/menu.html" %} 
    {% endblock menu %}

    <div class="container">
      {% block map %} 
      {% include "modules/map.html" %} 
      {% endblock map %}

      <div class="col">
        {% block d3_scatter %} 
        {% include "modules/d3-scatter.html" %} 
        {% endblock d3_scatter %}

        <div id="gauge-chart-state">
          <h1>Guage chart FL vs score</h1>
        </div>

        <div id="gauge-chart-county">
          <h1>Guage chart County</h1>
          <h1>vs score</h1>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
          <script src="static/gauge/gauge.js"></script>
        </div>
      </div>
    </div>
    {% block body_scripts %} 
    {% include "body-scripts.html" %} 
    {% endblock body_scripts %}
  </body>
</html>
